.header{
    background-color: white;
    padding: 20px;
}
.mainContent{
    padding: 20px;
    /* background-color: black; */
}
.performanceNodes{
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* width: 100%; */
    border-radius: 10px;
    padding: 10px;
    flex: 2;
}

.performanceNodeHeader{
    display: flex;
    justify-content: space-between;
    align-items: start;
}