.container {
    /* background-color: red; */
    width: 240px;
}

.header {
    padding: 20px;
}

.itemContainer {
    padding: 20px;
}

.subItemContainer {
    display: flex;
}

.subItem {
    padding: 2px;
}
.selectedSubItemContainer{
    background-color: green;
}
.link {
    all: unset;
    cursor: pointer;
}
.image{
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 240px;
  }
}