.navButton {
  display: none;
}

.container {
  background-color: white;
  color: black;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  min-width: 0;
  overflow: auto;
}

@media (max-width: 768px) {
  .navButton {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .bigScreen {
    display: none;
    border-right: 1px solid rgb(228, 228, 228);
  }

  .smallScreen {
    display: block;
    border-right: 1px solid rgb(228, 228, 228);
  }
}

@media (min-width: 769px) {
  .navButton {
    display: none;
  }
  .bigScreen {
    display: block;
    border-right: 1px solid rgb(228, 228, 228);
  }

  .smallScreen {
    display: none;
    border-right: 1px solid rgb(228, 228, 228);
  }
}