.dialed{
    background-color: rgb(1, 153, 1);
    color: white;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
}
.notDialed{
    background-color: rgb(215, 215, 215);
    white-space: nowrap;
    padding: 2px 5px;
    border-radius: 5px;
}
.leadOwner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 215, 215);
    padding: 2px 5px;
    border-radius: 5px;
}
.done{
    background-color: rgb(222, 255, 222);
    border: 1px solid rgb(160, 254, 160);
    color: green;
    padding: 0 5px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.markDone{
    background-color: rgb(0, 77, 0);
    color: white;
    padding: 0 5px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;
}